ECS_CLUSTER_NAME=""
ECS_TASK_ARN=""
ECS_SUBNET1=""
ECS_SUBNET2=""
ECS_SUBNET3=""
ECS_SECURITY_GROUP=""
ECS_CONTAINER_NAME=""
AWS_SQS_ARN=""
AWS_ACCESS_KEY=""
AWS_SECRET_ACCESS_KEY=""
REDIS_URI=""
API_SERVER_URL=""
AWS_BUCKET_NAME=""
